<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  
  <div class="top-header py-4">
    <div class="container text-center">
      <h1>Zamówienia w Polsce</h1>
    </div>
  </div>

  
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">Strona główna</a>
        </li>
        <li class="nav-item">
          <a href="/dane-o-zamowieniach" class="nav-link">Dane o zamówieniach</a>
        </li>
        
      </ul>
    </div>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} 
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
    </div>
  {% endfor %} {% endif %} {% endwith %}
    
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>