{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}

{% block content %}
<br>
<h1 class="display-4 text-center mt-5 fw-bold">Witam w aplikacji do przeglądania zamówień w Polsce</h1>
<br>
{% endblock %}